<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h1>Welcome, <%=@user.username%>
    <h2>Appointment Details</h2>
    <div class="content">

      <h3 class="flash">
          <% if flash.has?(:message) %>
            <%= flash[:message] %>
          <% end %>
      </h3>

      <p>
        <h3>Title: <%=@appointment.title%></h3>
        <h3>Date: <%=@appointment.date%></h3>
        <h3>Location: <%=@appointment.location%></h3>
        <h3>Details: <%=@appointment.details%></h3>
      </p>

      <form method="post" action="/appointments/<%=@appointment.id%>/delete">
        <input id="hidden" type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete Appointment">
      <form>
    </div>

    <div class="">
      <h4><a href="/appointments/<%=@appointment.id%>/edit">Edit Appointment </a></h4><br>

      <h4><a href="/appointments">See All appointments</a></h4><br>

      <h4><a href="/logout">Logout</a></h4><br>
    </div>

  </div>
</div>
